// --- header -------------------------------------------------------------------------------------

#header
  width: 100%
  height: 70px
  background: $colorLightBg
  border-bottom: 1px solid $colorBorder !important

  .logo
    color: $colorFontDefault
    +font-size($fontSizeLogo)

    &.color1
      color: $colorGradient11

      .iconstroke
        stroke: $colorGradient11

    &.color2
      color: $colorGradient21

      .iconstroke
        stroke: $colorGradient21

    &.color3
      color: $colorGradient31

      .iconstroke
        stroke: $colorGradient31

    > .logo-icon
      float: left

    > .logo-typo
      float: left
      margin-top: 10px
      margin-left: 5px

  .navbar-toggle
    margin-top: 16px
    background: $colorBg
    +border-radius($cornerRaduis)
    border: 1px solid $colorBorder

    > .icon-bar
      background: $colorFontDefault

  .navbar-collapse
    padding-bottom: 20px
    background: $colorLightBg
    border-top: 1px solid $colorBorder
    border-bottom: 1px solid $colorBorder

    .nav
      margin: 0
      padding: 0
      list-style-type: none

      > li
        margin-top: 10px
        margin-left: 53px
        padding: 5px 0
        text-transform: uppercase

        a
          color: $colorFontDefault
          text-decoration: none

        a:hover,
        &.active a
          color: $colorFontGrey

// --- main ---------------------------------------------------------------------------------------

#main
  width: 100%
  padding-top: 70px

  .cinema
    height: 470px
    text-align: center
    background: $colorDarkBg

    .intro
      margin-top: 10px
      margin-bottom: 20px
      color: $colorFontWhite
      +font-size($fontSizeSuperBig)

    .signs
      text-align: center

      > .sign
        margin: 0 15px
        display: inline-block

        &.idea
          @extend %sprite-icon-idea
        &.magic
          @extend %sprite-icon-magic
        &.love
          @extend %sprite-icon-love


    > .infocontent
      width: 100%
      position: absolute

    > .gradientcontent
      width: 100%
      height: 470px
      position: absolute

      > .gradient
        width: 100%
        height: 470px
        position: absolute

      > .gradient1
        +background-image(linear-gradient(left, $colorGradient11, $colorGradient12))
      > .gradient2
        display: none
        +background-image(linear-gradient(left, $colorGradient21, $colorGradient22))
      > .gradient3
        display: none
        +background-image(linear-gradient(left, $colorGradient31, $colorGradient32))

  .section
    padding-top: 40px
    padding-bottom: 90px

    .intro
      text-align: center

      h3
        margin-bottom: 0
        +font-size($fontSizeTitle)

      p
        margin-bottom: 40px

    &:nth-child(odd)
      background: $colorLightBg

    &.products

      .product
        margin: 15px
        padding: 30px
        text-align: center
        background: $colorLightBg

        img
          display: inline-block

        h4
          margin-top: 20px
          margin-bottom: 0

// --- footer -------------------------------------------------------------------------------------

#footer
  padding-top: 40px
  height: 1000px
  background: $colorDarkBg
  color: $colorFontGrey
  text-align: center

  a
    color: $colorFontGrey

// --- imprint ------------------------------------------------------------------------------------

#imprint

  .title
    margin: 0
    @include fontLight
    +font-size($fontSizeBig)

  .modal-content
    +border-radius($cornerRaduis)

    strong
      @include fontLight
      color: $colorFontGrey

    > .modal-header
      position: relative

      .close
        height: auto
        padding: 0 10px 5px
        +cssowl-absolute(20px 20px false false)

    > .modal-body

      p
        text-align: justify

// ---- media -------------------------------------------------------------------------------------

@media (min-width: $screen-phone)

  #header
    .logo
      +font-size($fontSizeBig)

  #main
    .cinema
      .intro
        margin-top: 80px

@media (min-width: $screen-tablet)

  #header

    .navbar-collapse
      border-top: none
      border-bottom: none

      .navigation > li
        margin-top: 16px

  #main
    .section

      &.about

        .newsletter

          .btn-black
            margin-top: 0

  .modal-dialog
    width: $screen-tablet

@media (min-width: $screen-desktop)

  #main
    .cinema

      .intro
        margin-top: 140px

    .section

      &.products

        .product
          text-align: left
