// --- home ---
#home.cinema
  .gradientcontent
    .gradient.gradient1
    .gradient.gradient2
    .gradient.gradient3
  .infocontent
    .container
      .row
        .col-sm-12
          %h2.intro
            We just do stuff, to help you do stuff.
      .row
        .col-sm-12.signs
          .sign.idea
          .sign.magic
          .sign.love

// --- stuff ---
#stuff.section.products.dark
  .container
    .row.intro
      .col-md-8.col-md-offset-2
        %h3 Our Stuff
        %p What we're up to at the moment

    .row.product

      .col-md-4
        .productimg
          %img.img-responsive{src: "assets/img/products/owl-stars.png"}

      .col-md-8
        .content
          %h4 Owl-Stars
          Product series
          %p
            We are working on our Owl-Stars product series. These products enable you to develop websites faster and easier. Sounds good? Don't wait to find out more!
          %a.button{title: "Owl-Stars", href: "http://www.owl-stars.com"}
            Find out more

// --- about ---
#about.section.about.light
  .container
    .row.intro
      .col-md-8.col-md-offset-2
        %h3 About Us
        %p
          We are a two creative guys who simply love to produce any kind of new media stuff. If you want to know more about us and our award winning projects, visit our portfolio site
          %a{title: "We Are Interactive", href: "http://www.weareinteractive.com"}We Are Interactive.

    .row.newsletter
      .col-sm-12
        .title
          Don't miss any updates!
        %form#mailchimpform
          %input#mc-email{placeholder: "Your email address", type: "email"}
          %button.btn-black{type: "submit"} Subscribe
          %br
          %label{for: "mc-email"}