---
title: Yeahhh
---
.cinema#home
  .gradientcontent
    .gradient.gradient1
    .gradient.gradient2
    .gradient.gradient3
  .infocontent
    .container
      .row
        .col-sm-12
          %h2.intro
            We just do stuff to help you do stuff.
            //We make things to help you make things.
      .row
        .col-sm-12.signs
          .sign.idea
          .sign.magic
          .sign.love

      
.section.products.dark#products
  .container
    .row.intro
      .col-md-8.col-md-offset-2
        %h3
          Products
        %p
          Currently we are working on your Owl-Stars product series. These Product Series should help you for a faster and easier web development.

    .row
      .col-md-6.col-sm-12.product
        .content
          .productimg
            %img{src: "assets/img/products/spriteowl.png"}
          %h4
            Spriteowl
          Photoshop Extension
          %p
            Spriteowl is a Photoshop Extension which saves you a lot of time when working with Sprite Images and Css. Spriteowl retrieves all sprite element's x, y, widths and heights for you and supports Css, Less, Sass/Scss and Stylus.
          %a.button
            Find out more

      .col-md-6.col-sm-12.product
        .content
          .productimg
            %img{src: "assets/img/products/cssowl.png"}
          %h4
            Cssowl
          Open Source Mixin Library
          %p
            Cssowl is been created to work with Photoshop Extensions like Spriteowl but it can also be used by it self to help you for faster and easier web development. Cssowl supports Less, Sass/Scss and Stylus.
          %a.button
            Find out more


.section.about.light#about
  .container
    .row.intro
      .col-md-8.col-md-offset-2
        %h3
          About Us
        %p
          We are a just two creative individuals who love to produce any kind of new media stuff. If you want to know more about us and our award winning projects, visit our portfolio site
          %a{title: "We Are Interactive", href: "http://www.weareinteractive.com"}We Are Interactive
    .row.newsletter
      .col-sm-12
        .title
          Never miss an update again!
        %form#mailchimpform
          %input#mc-email{placeholder: "Your E-Mail adress", type: "email"}
          %button.btn-black{type: "submit"} Subscribe
          %br
          %label{for: "mc-email"}